<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Redirigir de WWW a NO-WWW (Evita el error de CORS de raíz)
    RewriteCond %{HTTP_HOST} ^www\.doomine\.com [NC]
    RewriteRule ^(.*)$ https://doomine.com/$1 [L,R=301]

    # 2. Forzar HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URL} [L,R=301]

    # 3. Redirigir todas las peticiones a la carpeta /public
    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# 4. Configuración de Headers para mayor seguridad
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://doomine.com"
</IfModule>